[submodule "src/deps/bdwgc"]
	path = src/deps/bdwgc
	url = https://github.com/ivmai/bdwgc.git

[submodule "src/deps/boost-dll"]
	path = src/deps/boost-dll
	url = https://github.com/boostorg/dll.git

[submodule "src/deps/google-benchmark"]
	path = src/deps/google-benchmark
	url = https://github.com/google/benchmark.git

[submodule "src/deps/google-sparsehash"]
	path = src/deps/google-sparsehash
	url = https://github.com/sparsehash/sparsehash.git

[submodule "src/deps/google-test"]
	path = src/deps/google-test
	url = https://github.com/google/googletest.git

