[submodule "src/boost-dll"]
	path = src/boost-dll
	url = https://github.com/apolukhin/Boost.DLL.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
[submodule "src/gc"]
	path = src/gc
	url = https://github.com/ivmai/bdwgc.git
[submodule "src/google-benchmark"]
	path = src/google-benchmark
	url = https://github.com/google/benchmark.git
