[submodule "src/boost-dll"]
	path = src/boost-dll
	url = https://github.com/apolukhin/Boost.DLL.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
